<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Welcome {{user}}</h1>
  </div>
</div>

<div class="row">
  <div ng-repeat="(key, list) in taskCtrl.sortedTasks">
    <div class="col-lg-{{12/taskCtrl.filledLists}} col-md-6" ng-if="list.tasks.length > 0">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-7">
              <div class="huge">{{key}}</div>
            </div>
            <div class="col-xs-5 text-right">
              <span class="badge"><div class="huge">{{list.tasks.length}}</div></span>
              <div>{{list.date._d | date:'MMM dd'}}</div>
            </div>
          </div>
        </div>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="task in list.tasks">{{task.description}}</li>
        </ul>
        <a href ui-sref="home.tasks">
          <div class="panel-footer">
            <span class="pull-left">Go to Tasks</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
