<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Settings</h1>
  </div>
</div>

<div class="row">
  <div class="panel panel-primary" ng-controller="CategoryController as categoryCtrl">
    <div class="panel-heading">
      <h3 class="panel-title">Categories</h3>
    </div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Monitor</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="category in categoryCtrl.categories">
            <td ng-show="!category.edit">
              {{category.name}}
            </td>
            <td ng-if="category.edit"><input type="text" ng-model="categoryCtrl.edit.name" ng-init="categoryCtrl.edit.name = category.name"></td>

            <td ng-show="!category.edit">
              <i class="fa" ng-class="{ 'fa-eye':category.monitor, 'fa-eye-slash':!category.monitor }" aria-hidden="true"></i>
            </td>
            <td ng-if="category.edit">
              <input type="checkbox" ng-init="categoryCtrl.edit.monitor = category.monitor" ng-model="categoryCtrl.edit.monitor">
            </td>

            <td ng-show="!category.edit">
              <a href><span class="glyphicon glyphicon-pencil" ng-click="category.edit=true"></span></a>
              <a href><span class="glyphicon glyphicon-trash" ng-click=""></span></a>
            </td>
            <td ng-if="category.edit">
              <button type="button" class="btn btn-success" ng-click="categoryCtrl.editCategory($index, categoryCtrl.edit)"><span class="glyphicon glyphicon-ok"></span></button>
              <button type="button" class="btn btn-danger" ng-click="category.edit = false"><span class="glyphicon glyphicon-remove"></span></button>
            </td>
          </tr>
          <tr id="newCategory" ng-show="categoryCtrl.isCreatingCat()">
            <td><input type="text" ng-model="categoryCtrl.newCategory.name" ng-change="categoryCtrl.createCatError=false"></td>
            <td><input type="checkbox" ng-model="categoryCtrl.newCategory.monitor"></td>
            <td>
              <button type="button" class="btn btn-success" ng-click="categoryCtrl.addCategory(categoryCtrl.newCategory)"><span class="glyphicon glyphicon-ok"></span></button>
              <button type="button" class="btn btn-danger" ng-click="categoryCtrl.setCreateCat(false)"><span class="glyphicon glyphicon-remove"></span></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="panel-footer">
      <button type="button" class="btn btn-success" ng-click="categoryCtrl.setCreateCat(true)">Add</button>
      <button type="button" class="btn btn-primary" ng-click="categoryCtrl.submitCatChanges()">Save</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="panel panel-primary" ng-controller="WebMonitorController as webMonCtrl">
    <div class="panel-heading">
      <h3 class="panel-title">Website Monitoring</h3>
    </div>
    <div class="panel-body">
      Here are the websites you want to be monitored
    </div>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="website in webMonCtrl.preferences">{{website}}</li>
    </ul>
    <div class="panel-footer">
      <button type="button" class="btn btn-success" ng-click="">Add</button>
    </div>
  </div>
</div>
